
[type]
auto_correlation = on
cross_correlation = off
spectral_analysis = on

[baseband]
chip_rate = 1e3
oversampling_factor = 24

[signaling]
time_accelerating_factor = .8
time_offset = 0
pulse_shape = rect

