
# possible coder types
# a) kasami
# b) ssrg
# c) gold
# d) gold_gps

[ssrg]
ssrg_init = 1,0,0,0,0,0
#ssrg_fb =   0,0,1,0,1,1
number_of_periods = 2

[kasami]


[kasami_poly]


[gold]


[gold_gps]
bound_x1 = 3
bound_x2 = 6
